{
	"experimentalTernaries": true,
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "crlf",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true
}
